<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Max date</th>
    <th>Finished</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>	
    <td><%= link_to 'Finish' %></td>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.priority %></td>
    <td><%= display_date(task.max_date) %></td>
    <td><%= task.finished %></td>
    <td><%= task.category.name %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
