<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @task.descripcion %>
</p>

<p>
  <b>Max date:</b>
  <%= @task.max_date %>
</p>

<p>
  <b>Finished:</b>
  <%= @task.finished %>
</p>

<p>
  <b>Category:</b>
  <%= @task.category.name %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
